<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online shop</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
<div class="page">
    <div class="content">
        <div class="header__block">
            <header class="header">
                <div class="header__number number">7h3 5h0p
                </div>
                <div class="header__logo logo">
                    <!--<a href="#" class="logo__img"><%- include('img/oggetto_logo.svg'); %></a>-->
                    <img class="logo__img" alt="Oggettoweb" src="img/oggetto_logo.svg">
                </div>
                <div class="header__phone phone">+7 (812) 2•12•85•06
                </div>

            </header>


            <div class="h-menu">
                <div class="h-menu-wrapper">
                    <% const menu = ['LISP', 'OCaml', 'JavaScript', 'Python', 'PHP'] %>
                    <div class="h-menu-wrapper__menu menu">
                        <ul class="menu__list">
                            <% menu.forEach(function(item, i) { %>
                            <li class="menu__item">
                                <a href="#" class="menu__link"><%= item %></a>
                            </li>
                            <% }); %>
                        </ul>
                    </div>
                    <form action="//google.com/search" class="h-menu-wrapper__search search">
                        <input type="search" class="search__text" placeholder="">
                        <input type="image" alt="Поиск" class="search__img" src="img/search.svg">
                    </form>
                </div>
            </div>
        </div>
        <div class="breadcrumbs">
            <% const bread = ['LISP', 'Одежда', 'Футболки'] %>
            <div class="breadcrumbs-menu">
                <ul class="breadcrumbs-menu__list">
                    <% bread.forEach(function (item, index) { %>
                    <li class="breadcrumbs-menu__item">
                        <a href="#" class="breadcrumbs-menu__link"><%= item %></a>
                        <% if(index < (bread.length - 1)) { %>
                        <span class="breadcrumbs-menu__slash">/</span>
                        <% } %>
                    </li>
                    <% }) %>
                </ul>

            </div>

        </div>

        <div class="product" id="doc">
            <div class="product__img">
                <img class="product__tshirt" alt="7h3 5h0p" id="productImg" src="img/tshirt_white.jpg">
            </div>

            <form action="#" class="product__info js-info" method="post">
                <h2 class="info__name">Футболка Alien technology</h2>
                <p class="info__composition">Состав: 100% хлопок, динамическая типизация, польская нотация.
                    Производство: Россия</p>
                <p class="info__price">1500<span class="info__price_currency">₽</span></p>
                <p class="info__size-text">Размер:</p>
                <% const size = ['S', 'M', 'L'] %>
                <ul class="info__size size">
                    <% size.forEach(function (item, index) { %>
                    <li class="size__item js-sizeProduct"><%= item %>
                    </li>
                    <% }) %>
                </ul>

                <p class="info__color-text">Цвет:</p>
                <% const color = ['white', 'yellow', 'green'] %>
                <ul class="info__color color" id="colorList">
                    <% color.forEach(function (item, index) { %>
                    <li class="color__size js-color color_<%= item %>" data-type="color" data-value="<%= item %>"></li>
                    <% }) %>
                </ul>
                <button class="info__buy" autofocus>Купить</button>
                <div class="info__add-to-wish-list add-to-wish-list">
                    <a href="#" class="add-to-wish-list__img"><%- include('img/samples.svg'); %></a>
                    <a href="#" class="add-to-wish-list__defer">Отложить на потом</a>
                </div>

            </form>
        </div>
    </div>
    <footer class="footer">
        <div class="footer__wrapper">
        <div class="footer__page">
            <div class="footer__service block-ftr">
                <h3 class="block-ftr__header">
                    Сервис и поддержка
                </h3>
                <% const service = ['Как сделать заказ', 'Возврат товара', 'Публичная оферта', 'Доставка',
                    'Способы оплаты', 'Правила продажи', 'Возврат денежных средств', 'Вопросы и ответы'] %>
                <div class="service__block block">
                    <ul class="block__list block-ftr__column">
                        <% service.forEach(function(item) { %>
                        <li class="block-ftr_item">
                            <a href="#" class="block-ftr__link"><%= item %></a>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            <div class="footer__about-us block-ftr">
                <h3 class="block-ftr__header">
                    О компании
                </h3>
                <% const about = ['О нас', 'Контакты', 'Вакансии', 'Партнерам',
                    'Сертификаты', 'Преимущества', 'Наши скидки'] %>
                <div class="about-us__part part">
                    <ul class="part__list block-ftr__column">
                        <% about.forEach(function(item) { %>
                        <li class="block-ftr__item">
                            <a href="#" class="block-ftr__link"><%= item %></a>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            <div class="footer__info info">
                <!--<% const info = ['бесплатная доставка от 4000 ₽', 'пробники в подарок при каждой покупке', 'акции и подарки за покупку'] %>-->
                <!--<% const icons = ['img/delivery.svg', 'img/heart.svg', 'img/cup.svg'] %>-->
                   <!--<ul class="info__link link">-->
                        <!--<% icons.forEach(function (item) {%>-->
                       <!--<li class="">-->
                           <!--<a href="#" class="block-ftr__link"><%= item %></a>-->
                       <!--</li>-->
                       <!--<%});%>-->

                    <!--</ul>-->
                <div class="info__link link">

                    <a href="#" class="link__delivery delivery">
                        <img class="delivery__img" alt="" src="img/delivery.svg">
                        <span class="delivery__text block-ftr__link">бесплатная доставка от 4000 ₽</span>
                    </a>
                    <a href="#" class="link__gift gift">
                        <img class="gift__img" alt="" src="img/heart.svg">
                        <span class="gift__text block-ftr__link">пробники в подарок при каждой покупке</span>
                    </a>
                    <a href="#" class="link__promotion prom">
                        <img class="prom__img" alt="" src="img/cup.svg">
                        <span class="prom__text block-ftr__link">акции и подарки за покупку</span>
                    </a>

                </div>

            </div>
            <div class="footer__social social">

                <a href="#"><img class="social__icon social__icon_facebook" alt="facebook" src="img/facebook.svg"></a>
                <a href="#"><img class="social__icon social__icon_twitter" alt="twitter" src="img/twitter.svg"></a>
                <a href="#"><img class="social__icon social__icon_instagram" alt="instagram"
                                 src="img/instagram.svg"></a>
            </div>
        </div>
        <hr class="footer__line">
        <p class="footer__end">2005-2017 © 7h35h0p.ru — модный интернет-магазин одежды, обуви и аксессуаров.<br>
            Все права защищены. Доставка по всей России!</p>
        </div>
    </footer>

</div>
<script src="js/scripts.js" type="module"></script>
</body>
</html>
